header {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 8vw;
  max-height: 150px;
  font: normal normal normal 26px/30px;
  transition: background-color 300ms, height 300ms;
  span {
    width: 100%;
    text-align: center;
    .head-btn {
      color: white;
      text-decoration: none;
      margin: 0 5px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 0.08em;
        background-color: white;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        transform: scale(0);
        transform-origin: center;
      }
      &:hover {
        &::after {
          opacity: 1;
          transform: translate3d(0, 0.2em, 0);
          transform: scale(1);
        }
      }
    }

    .active {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0.08em;
      background-color: white;
      opacity: 1;
    }

    .logo {
      svg {
        width: 6vw;
        max-width: 120px;
        height: 6vw;
        max-height: 120px;
      }
      path {
        fill: white;
      }
    }
  }
}

.isScrolled {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  height: 5vw;
  transition: background-color 300ms, height 300ms;
  .logo-path {
    height: 3.5vw;
    transition: height 300ms;
  }
}

@media screen and (max-width: 640px) {
  .logo-mobile {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;


    svg {
      width: 15vw;
      max-width: 10vw;
      height: 15vw;
      max-height: 50px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 50px;
    }
    path {
      fill: white;
    }
  }
}
