.gallery-entry-section {
  padding: 87px 0 82px 0;
}
.gallery-entry-section h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery-grid {
  width: 80%;
  max-width: 1536px;
  margin: 0 auto;
  column-count: 3;
}
.gallery-grid .gallery-image {
  break-inside: avoid;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 14px;
}
@media screen and (max-width: 640px) {
  .gallery-grid {
    width: 95%;
    column-count: 2;
  }
  .gallery-grid .gallery-image {
    margin-bottom: 5px;
  }
}
.gallery-entry-section {
  padding-top: 0;
}
